{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 90,
  "pluginSearchDirs": false,
  "bracketSameLine": true,
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-svelte",
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "<TYPES>",
    "<TYPES>^[.]",
    "",
    "^(astro/(.*)$)|^(astro$)",
    "^(@astrojs/(.*)$)|^(@astrojs$)",
    "^(svelte/(.*)$)|^(svelte$)",
    "^(@sveltejs/(.*)$)|^(@sveltejs$)",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^\\@layouts/",
    "^\\@components/ui/atoms/",
    "^\\@components/ui/molecules/",
    "^\\@components/ui/organisms/",
    "^\\@components/",
    "",
    "^\\@content/",
    "^\\@config/",
    "^\\@lib/",
    "^\\@(?![^\\/]*\\/)",
    "^\\@[^/]*\\/[^/]+",
    "",
    "^[./]",
    "\\.js$",
    "\\.ts$",
    "\\.astro$",
    "\\.svelte$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderParserPlugins": ["typescript"],
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true
}
